<article id="node-{{ node.id }}" class="{{ attributes.class }} clearfix wrap"{{ attributes }}>
  <a href="{{ node_url }}">
    <div class="{{ content_attributes.class}} wrap-front" {{ content_attributes }}>
      {{ content|without('links') }}
    </div>
    <h2{{ title_attributes }} class="wrap-back">
      {{ label }}
    </h2>
  </a>
</article>
