<article id="node-{{ node.id }}" class="{{ attributes.class }} clearfix"{{ attributes }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ node_url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer>
      {{ user_picture }}
      <p class="submitted">{{ submitted }}</p>
    </footer>
  {% endif %}

  <div{{ content_attributes }}>
    {{ content|without('links') }}
  </div>

  {{ content.links }}

</article>
